
.icon-flag-1:before { content: '\e800'; } /* '' */
.icon-lamp:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-leaf-1:before { content: '\e803'; } /* '' */
.icon-flight:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */