.messages-divider{
  height: 9px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color:rgba(255, 255, 255, 0.7);
  border-bottom:  1px solid rgba(255,255,255,.04);

  & span{
    background-color: #36393E;
    display: inline-block;
    margin-top: -20px;
    padding: 0 10px;
    color:#fff
  }
}
